@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
:root {
    --background: #45567D;
    --background-complement: #7d6c45;
    --background-complement2: #bbccd4;
    --background-grayscale: #555555;
    --text-color-white: #d6dde7;
    --text-color-brown: #583521;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--background-complement2);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

body h1 {
    color: lightgoldenrodyellow;
}


/*CONTENT */

.content {
    height: 120vh;
    background: var(--background-grayscale);
    background-image: url(pexels-photo-268533.jpeg);
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.content h1 {
    color: var(--text-color-white);
    text-align: center;
    font-size: 3rem;
}

.content p,
b {
    text-align: center;
    color: lightgoldenrodyellow;
    font-size: 2rem;
    font-weight: 600;
}

.content div {
    padding-bottom: 20em;
}


/*PROJECTS STYLING*/

.work {
    background-image: linear-gradient(to right, #12111f, #192438, #141728);
    height: 100vh;
    padding-top: 2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 500px));
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.work h1 {
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 3rem;
}

.container img {
    width: 250px;
    height: 300px;
}

.container button {
    color: lightgoldenrodyellow;
    font-family: inherit;
    background: transparent;
    border: none;
    transition: all .2s ease-in-out;
}

.container button:hover {
    transform: scale(1.1);
}


/*footer styiling*/

.social {
    position: relative;
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
}

.social p {
    padding-left: 1em;
    font-size: 1.1em;
}

.social h1 {
    display: inline;
    font-size: 1.1em;
    color: inherit;
    text-align: left;
    margin-left: 1em;
    justify-self: left;
    width: 50%;
}

.social li {
    display: inline;
    list-style: none;
    font-size: 15px;
    padding: 10px 10px;
    border: 1px solid var(--background-complement2);
    border-radius: 100%;
    transition: .5s;
}

.media {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding-right: 1em;
}

.media h1 {
    justify-content: flex-end;
    align-self: center;
    text-align: right;
}

.social li:hover {
    border: 1px solid white;
    transition: 0.5s;
}

.media i {
    color: white;
}


/* navigation styles start here */

header {
    background-image: linear-gradient(to right, #12111f, #192438, #141728);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 0.5;
}


/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle a {
    color: var(--text-color-white);
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--text-color-white);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #12111f;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: lightgoldenrodyellow;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }
    nav {
        /*/ all: unset; /* this causes issues with Edge, since it's unsupported */
        /* the following lines are not from my video, but add Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: lightgoldenrodyellow;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}